In [1]:
import fastparquet

In [2]:
data_dir = '/home/woohyun/NER/data/k_corpus/featured_data/bert-base-multilingual-cased/'

train_data = fastparquet.ParquetFile(data_dir).to_pandas()

In [3]:
len(train_data)

2107157

In [4]:
train_data.tail()

,sentence_id,tokens,token_labels,input_ids,attention_mask,token_type_ids,output_ids,dir0
index,,,,,,,,
18768,SBRW1800000293.794,"[너, ##무, 단, ##맛, ##이, 강, ##해, ##질, 수, 있, ##으, ...","[-, -, -, -, -, -, -, -, -, -, -, -, -]","[101, 9004, 32537, 9059, 118912, 10739, 8853, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",valid_data
38805,SBRW1800000275.124,"[그, ##래, ##서, 이, ##렇게, 꼭, ##지, 따, ##서, 준, ##비,...","[-, -, -, -, -, -, -, -, -, -, -, -, -, -, -, -]","[101, 8924, 37388, 12424, 9638, 82838, 8955, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",valid_data
22955,SBRW1800000131.117,"[미, ##학적, ##으로, 너, ##무, ##나, 뛰, ##어, ##납, ##니다...","[-, -, -, -, -, -, -, -, -, -, -]","[101, 9309, 87503, 11467, 9004, 32537, 16439, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, ...",valid_data
53363,SARW1800001309.283,"[한, 동안, xx, ##있, ##지, ##마, ##는, 최, ##근, ##의, 연...","[-, -, -, -, -, -, -, -, -, -, -, -, -, -, -, ...","[101, 9954, 41886, 76294, 119192, 12508, 23811...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",valid_data
42961,SBRW1800000326.37,"[맞, ##습, ##니다, .]","[-, -, -, -]","[101, 9256, 119081, 48345, 119, 102, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",valid_data

In [5]:
train_data.query('sentence_id == "EBRW1908000229.96.7.1"')

,sentence_id,tokens,token_labels,input_ids,attention_mask,token_type_ids,output_ids,dir0
index,,,,,,,,
13213,EBRW1908000229.96.7.1,"[그, ##리, ##구, 평, ##일, ##이, ##라, 매우, ##한, ##산, ...","[-, -, -, B_DT, I_DT, -, -, -, -, -, -, -, -, ...","[101, 8924, 12692, 17196, 9926, 18392, 10739, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 13, 12, 1, 1, 1, 1, 1, 1, 1, 1, 1...",train_data

In [6]:
import numpy as np
token_labels = np.concatenate(train_data['token_labels'].values)

In [7]:
len(token_labels)

31901306

In [8]:
token_labels

array(['B_LC', '-', '-', ..., '-', '-', '-'], dtype='<U32')

In [9]:
from collections import Counter
import pandas as pd

result = Counter(token_labels)
print(result)

pd.DataFrame(result.most_common(), columns=["item", "count"]).to_csv("/home/woohyun/NER/data/k_corpus/featured_data/bert-base-multilingual-cased_통계.csv")

# for key in result:
#     print(key, result[key])

# # 값만 출력도 가능
# result = Counter(token_labels).values()
# print(result)

Counter({'-': 25976717, 'I_CV': 743490, 'I_OG': 576749, 'B_CV': 455865, 'I_PS': 444341, 'I_QT': 378459, 'I_AF': 348606, 'I_LC': 322791, 'I_TM': 309137, 'I_DT': 298660, 'B_PS': 258888, 'B_QT': 239522, 'B_LC': 235040, 'B_OG': 222218, 'B_DT': 210713, 'B_TM': 134507, 'B_AF': 122063, 'I_EV': 115212, 'B_AM': 87148, 'I_AM': 81193, 'I_TI': 71590, 'I_TR': 41557, 'B_TI': 40572, 'I_PT': 32444, 'I_MT': 32161, 'B_EV': 30834, 'B_PT': 23662, 'I_FD': 22314, 'B_MT': 16379, 'B_TR': 15790, 'B_FD': 12684})