In [1]:
import fastparquet

In [2]:
data_dir = '/home/woohyun/NER/data/k_corpus/featured_data/monologg__koelectra-base-v3-discriminator/'

train_data = fastparquet.ParquetFile(data_dir).to_pandas()

In [3]:
len(train_data)

2109682

In [14]:
train_data.head()

,sentence_id,tokens,token_labels,input_ids,attention_mask,token_type_ids,output_ids,dir0
index,,,,,,,,
96275,EBRW1908000252.78.10.1,"[이거, 새로, 나온, 젤리, ##인, ##데]","[-, -, -, B_CV, -, -]","[2, 7808, 6362, 6623, 18078, 4139, 4244, 3, 0,...","[1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 2, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, ...",test_data
22712,EBRW1908000046.46.8.1,"[구경, ##하, ##다가, 충격, ##적, ##인, 마네, ##킹, 발견, !, ...","[-, -, -, -, -, -, -, -, -, -, -, -]","[2, 9882, 4279, 7483, 7709, 4199, 4139, 28717,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...",test_data
31942,EBRW1908000164.98.21.1,"[손목, ##을, 안쓰, ##도록, 해야, ##하, ##는데]","[B_AM, -, -, -, -, -, -]","[2, 13638, 4292, 25738, 26147, 6256, 4279, 187...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 18, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,...",test_data
87283,EBRW1908000090.5.41.1,"[발달, ##하, ##게, ##되, ##는]","[-, -, -, -, -]","[2, 8824, 4279, 4325, 4479, 4034, 3, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",test_data
13342,EBRW1908000229.96.7.1,"[그리구, 평일, ##이, ##라, 매우, ##한, ##산, ##한, 느낌, ~, ...","[-, B_DT, -, -, -, -, -, -, -, -, -, -, -, -, ...","[2, 32119, 13376, 4007, 4118, 6669, 4283, 4122...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 13, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",test_data

In [15]:
train_data.query('sentence_id == "EBRW1908000229.96.7.1"')

,sentence_id,tokens,token_labels,input_ids,attention_mask,token_type_ids,output_ids,dir0
index,,,,,,,,
13342,EBRW1908000229.96.7.1,"[그리구, 평일, ##이, ##라, 매우, ##한, ##산, ##한, 느낌, ~, ...","[-, B_DT, -, -, -, -, -, -, -, -, -, -, -, -, ...","[2, 32119, 13376, 4007, 4118, 6669, 4283, 4122...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 13, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...",test_data

In [5]:
import numpy as np
token_labels = np.concatenate(train_data['token_labels'].values)

In [6]:
len(token_labels)

27306792

In [7]:
token_labels

array(['-', '-', '-', ..., '-', '-', '-'], dtype='<U32')

In [8]:
from collections import Counter
import pandas as pd

result = Counter(token_labels)
print(result)

pd.DataFrame(result.most_common(), columns=["item", "count"]).to_csv("/home/woohyun/NER/data/k_corpus/featured_data/monologg__koelectra-base-v3-discriminator_통계.csv")

# for key in result:
#     print(key, result[key])

# # 값만 출력도 가능
# result = Counter(token_labels).values()
# print(result)

Counter({'-': 22701431, 'B_CV': 467614, 'I_QT': 369221, 'I_OG': 365541, 'I_CV': 349394, 'I_PS': 316264, 'B_PS': 268633, 'B_QT': 244196, 'I_AF': 243323, 'B_LC': 239939, 'I_DT': 239366, 'B_OG': 226731, 'B_DT': 214816, 'I_TM': 200444, 'B_TM': 138200, 'I_LC': 135234, 'B_AF': 125888, 'B_AM': 90586, 'I_EV': 80549, 'I_TI': 58797, 'B_TI': 41562, 'B_EV': 31390, 'I_AM': 29029, 'B_PT': 24405, 'I_TR': 22382, 'B_MT': 16708, 'B_TR': 16244, 'I_PT': 15149, 'I_MT': 13263, 'B_FD': 12952, 'I_FD': 7541})